ul ol[data-list-style-type="decimal"],
ol ol[data-list-style-type="decimal"] {
  counter-reset: item;
}

ol ol[data-list-style-type="decimal"] > li,
ul ol[data-list-style-type="decimal"] > li {
  display: block;
}

ol ol[data-list-style-type="decimal"] > li:before,
ul ol[data-list-style-type="decimal"] > li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

:root {
  --jd-todo-color-checkbox-border: #333;
  --jd-todo-color-checkbox-border-checked: #25ab33;
  --jd-todo-color-checkbox-bg-checked: #25ab33;
  --jd-todo-color-checkbox-mark-checked: #fff;
  --jd-todo-size-checkbox: 18px;
}

.todo-list {
  list-style: none;
}
